
@font-face {
    src: url('../../fonts/HelveticaLTStd-Light.otf');
    font-family: HelveticaLTStdLight;
}

@font-face {
    src: url('../fonts/HelveticaLTStd-BoldCond.otf');
    font-family: HelveticaLTStdBold;
}